.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://media.istockphoto.com/id/1470700751/photo/nature-love-and-portrait-of-a-senior-couple-hugging-in-a-garden-while-on-romantic-outdoor.jpg?s=612x612&w=0&k=20&c=Sv41W6KD4W5jqRuihCS3uiy7LXPyICn_KbrrHK-DXZc=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loginPage .loginContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 100px;
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.loginPage .loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginPage .loginContainer form input,
.loginPage .loginContainer form select {
  background-color: var(--light-grey);
  border: none;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.loginPage a {
  color: var(--main-blue);
  text-decoration: none;
}

.loginPage a:hover {
  text-decoration: underline;
}

.loginPage form .formGroup {
  display: flex;
  gap: 10px;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
